:root {
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --main-alt-primary: hsl(0 84% 50% / 1);
  --color-light-grey: #eee;
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --animation-duration: 400ms;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
.header .container .logo {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-track {
  /* background-color: #e7e6e6; */
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
::selection {
  background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness),
    0.7
  );
  opacity: 0.2;
  color: var(--color-light);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 2.5rem 0.3125rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 25px 5px;
}
.title {
  text-align: center;
  margin-bottom: 1.5625rem;
}
.title h2 {
  color: var(--color-tertiary);
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.title p {
  font-size: 40px;
  font-family: var(--font-primary);
}
span {
  color: var(--color-primary);
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 15px 20px;
  }
}
.header {
  position: fixed;
  background-color: var(--color-light);
  width: 100%;
  box-shadow: 0 0px 12px 0px #0000001b;
  z-index: 2222222;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 5px;
  min-height: 90px;
}
@media (max-width: 768px) {
  .header .container {
    padding: 0 20px;
  }
}
.header .container .logo {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: var(--font-default);
}
.header .container .logo a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--color-primary);
  border-radius: 50%;
  bottom: 7px;
  right: -4px;
}
.header .container .main-nav {
  display: flex;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .header .container .main-nav {
    display: block;
    position: fixed;
    top: 0;
    right: -400px;
    background-color: white;
    width: 350px;
    height: 800px;
    z-index: 1111;
    transition: var(--animation-duration);
  }
}
@media (max-width: 1200px) {
  .header .container .mode-group {
    margin-left: auto;
    margin-right: 20px;
  }
}
.header .container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 10px;
  height: 65px;
  transition: 0.3s;
  color: #777;
  position: relative;
}
body:not(body:has(:target)) li a[href="#home"],
body:has(.home:target) li a[href="#home"],
body:has(.contact:target) li a[href="#contact"],
body:has(.gallery:target) li a[href="#gallery"],
body:has(.chefs:target) li a[href="#chefs"] {
  color: #000;
}
body:not(body:has(:target)) li a[href="#home"]::before,
body:has(.home:target) li a[href="#home"]::before,
body:has(.contact:target) li a[href="#contact"]::before,
body:has(.gallery:target) li a[href="#gallery"]::before,
body:has(.chefs:target) li a[href="#chefs"]::before {
  width: 70%;
}

@media (max-width: 1200px) {
  .header .container ul li a {
    width: fit-content;
  }
}
@media (max-width: 1200px) {
  .header .container ul li a::before,
  .active {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .container ul li a.active {
    color: #777;
  }
}
@media (max-width: 1200px) {
  .header .container ul li {
    margin: 10px;
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  .header .container ul li i {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.5;
    transition: 0.5s;
  }
}
@media (max-width: 1200px) {
  .header .container ul li .close {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .header .container ul li i {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .container ul li i:hover {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .header .container ul li:hover a {
    color: #000;
  }
}
@media (min-width: 1200px) {
  .header .container ul li a.active {
    color: #000;
  }
}
@media (max-width: 768px) {
  .header .container ul li a.active {
    color: #796d6d;
  }
}
@media (max-width: 768px) {
  .header .container ul li a {
    cursor: pointer;
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .header .container ul li a::before {
    display: none;
  }
}
.header .container ul li a::before {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 0;
  height: 2px;
  left: 10px;
  background-color: var(--color-primary);
  transition: width var(--animation-duration);
}
.header .container ul li a.active::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: hsl(0, 84%, 44%);
  bottom: 20px;
  left: 10px;
  transition: var(--animation-duration);
}

.header .container ul li a:hover::before {
  width: 70%;
}
.header .container ul li a:hover {
  color: #000;
  transition: var(--animation-duration);
}
.header .container > a .check {
  top: 0;
  position: absolute;
  width: 22px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}

:root:has(.check:checked) body {
  opacity: 0.5;
}
:root:has(.check:checked) .header .container .main-nav {
  right: 0;
}
:root:has([name="first"]:checked) .header .container .main-nav {
}
:root:has(.close:checked) .header .container .main-nav {
  right: -400px;
}
:root:has(.close:checked) body {
  opacity: 1;
}
@media (max-width: 768px) {
  .header .container .mode-group {
    margin-left: auto;
    margin-right: 20px;
  }
}
.header .container > a {
  position: relative;
}
@media (min-width: 768px) {
  .header .container > a {
    display: none;
  }
}
.header .container .mode-group label {
  position: relative;
}
.header .container .mode-group label input {
  position: absolute;
  right: 0px;
  top: -5px;
  z-index: 111;
  opacity: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header .container .mode-group label i.sun {
  position: absolute;
  transform: scale(0);
  right: 0;
}
.header .container .mode-group label input:checked ~ .moon {
  transform: scale(0);
}
.header .container .mode-group label input:checked ~ .sun {
  transform: scale(1);
}
.header .container .mode-group label input:checked.header {
  background-color: #202020;
}
@media screen and (max-width: 1200px) {
  .header .container > a {
    display: block;
  }
}
.header .container .mode-group i {
  font-size: 25px;
  cursor: pointer;
}
.header .container > a i {
  font-size: 25px;
}
@media (max-width: 768px) {
  .header .container .close {
    position: relative;
  }
}
/*start section*/
.section {
  background-color: var(--color-light-grey);
  padding-top: 120px;
}
.section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .section .container {
    flex-direction: column-reverse;
    gap: 50px;
    padding: 30px 10px;
  }
}
.section .container .content {
  width: 40%;
}
@media (max-width: 992px) {
  .section .container .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section .container .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.section .container .content h2 {
  font-size: 60px;
  font-family: var(--font-primary);
  margin-bottom: 15px;
  color: var(--color-secondary);
}
.section .container .content p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #4f4f5a;
}
.section .container .content .buttons {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 992px) {
  .section .container .content .buttons {
    justify-content: center;
  }
}
.section .container .content .buttons .contact {
  background-color: var(--color-primary);
  border-radius: 0 25px 25px 25px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 12px 30px;
  transition: var(--animation-duration);
}
@media (max-width: 992px) {
  .section .container .content .buttons .contact {
    border-radius: 25px;
  }
}
.section .container .content .buttons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    hsl(0, 84%, 44%) 0 50%,
    transparent 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section .container .content .buttons .video:hover {
  color: var(--main-alt-primary);
}
.section .container .content .buttons .contact:hover {
  background-color: var(--main-alt-primary);
}
.section .container .content .buttons .video {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  transition: var(--animation-duration);
}
.section .container .content .buttons .video i {
  background-color: white;
  font-size: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.section .container .image {
  width: 40%;
}
@media (max-width: 768px) {
  .section .container .image {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .section .container .image {
    width: 100%;
  }
}
.section .container .image img {
  width: 100%;
  margin-top: 10px;
  filter: drop-shadow(4px 4px 10px black);
}
@media (max-width: 768px) {
  .section .container .image img {
    width: 100%;
  }
}
.section .container .image img:hover {
  animation: shake 0.5s infinite;
}
/*end section*/
/* start chefs */
.chefs .container {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .chefs .container {
    padding: 10px 10px;
  }
}
@media (max-width: 768px) {
  .chefs .title {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
.chefs .chefs-card {
  display: flex;
  gap: 30px;
  padding: 20px 10px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .chefs .chefs-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.chefs .chefs-card .card {
  text-align: center;
  width: calc(calc(100% - 60px) / 3);
  text-align: center;
  background-color: var(--color-light);
  border-radius: 6px;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (max-width: 768px) {
  .chefs .chefs-card .card {
    width: calc(100% - 30px);
  }
}
.chefs .chefs-card .card:hover {
  transform: scale(1.1, 1.1);
}
.chefs .chefs-card .card .image {
  position: relative;
  width: 100%;
}
.chefs .chefs-card .card .image::before {
  content: "";
  background-image: url(../photos/team-shape.svg);
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -1px;
}
.chefs .chefs-card .card .image img {
  width: 100%;
}
.chefs .chefs-card .card .card-content {
  padding: 25px 15px 15px 15px;
}
.chefs .chefs-card .card .card-content h3 {
  margin-bottom: 0;
  margin-top: 5px;
}
.chefs .chefs-card .card .card-content h4 {
  color: var(--color-tertiary);
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 15px;
}
.chefs .chefs-card .card .card-content p {
  color: var(--color-tertiary);
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
}
.chefs .chefs-card .card .social-icons {
  list-style: none;
  position: absolute;
  top: 10px;
  right: -60px;
  background-color: #ffffff4d;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
  transition-delay: 0.5s;
}
.chefs .chefs-card .card:hover .social-icons {
  right: 10px;
}
.chefs .chefs-card .card .social-icons li {
  padding: 10px;
}
.chefs .chefs-card .card .social-icons li a i {
  color: #37373f66;
  font-size: 20px;
}
.chefs .chefs-card .card .social-icons li a i:hover {
  color: #646363;
}
/* end chefs */
/*start gallery*/
.gallery {
  background-color: var(--color-light-grey);
}
.gallery .container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 60px 10px;
}
@media (max-width: 768px) {
  .gallery .title p {
    font-size: 35px;
    margin-bottom: 0;
  }
}
.gallery .container .gallery-pics {
  display: flex;
  height: 1165px;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 1400px) {
  .gallery .container .gallery-pics {
    height: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .gallery .container .gallery-pics {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .gallery .container .gallery-pics {
    flex-direction: column;
  }
}
.gallery .container .gallery-pics .box {
  border: 4px solid white;
  width: 300px;
  transition: 2s;
}
.gallery .container .gallery-pics .box .image {
  position: relative;
}
.gallery .container .gallery-pics .box:hover .image .info {
  height: 100%;
}
.gallery .container .gallery-pics .box .image img {
  width: 100%;
  margin-bottom: -4px;
}
.gallery .container .gallery-pics .box:hover .image img {
  transform: scale(1, 1);
  transition: var(--animation-duration);
}
.gallery .container .gallery-pics .box {
  position: relative;
  overflow: hidden;
  width: calc(calc(100% - 50px * 2) / 3);
}
@media screen and (max-width: 768px) {
  .gallery .container .gallery-pics .box {
    width: 100%;
  }
}
.gallery .container .gallery-pics .box .info {
  text-align: center;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  color: #fff;
  background-color: #00000096;
  transition: var(--animation-duration);
}
.gallery .container .gallery-pics .box:hover .info {
  top: 0;
}
.gallery .container .gallery-pics .box h2 {
  margin: 0;
}
.gallery .container .gallery-pics .box p {
  margin: 2px 10px;
  color: #ddd;
}
/*end gallery*/
/*start contact*/
.contact .container {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .contact .container {
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  .contact .title p {
    font-size: 25px;
    margin-bottom: 0;
  }
}
.contact .container iframe {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}
.contact .container .info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .contact .container .info {
    flex-direction: column;
  }
}
.contact .container .info .sec {
  display: flex;
  align-items: center;
  background-color: hsl(
    var(--light-hue),
    var(--light-saturation),
    calc(var(--light-lightness) - 4%)
  );
  padding: 20px 10px;
  width: calc(calc(100% - 20px) / 2);
}
@media (max-width: 768px) {
  .contact .container .info .sec {
    width: 100%;
  }
}
.contact .container .info .sec .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .container .info .sec .icon i {
  font-size: 25px;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .container .info .sec .content h3 {
  margin: 10px 0 0;
  color: #7d7d7d;
}
.contact .container .info .sec .content p {
  margin: 5px 0;
}
.contact .container form {
  padding: 10px;
  display: flex;
  background-color: var(--color-light);
  align-items: center;
  box-shadow: 0 0 14px #00000014;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  form {
    gap: 20px;
  }
}
.contact form > * {
  width: 100%;
}
.contact .container form .input {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contact .container form .input {
    flex-direction: column;
  }
}
.contact .container form input[name="your name"] {
  width: calc(calc(100% - 20px) / 2);
}
@media (max-width: 768px) {
  .contact .container form input[name="your name"] {
    width: 100%;
  }
}
.contact .container form input[name="your email"] {
  width: calc(calc(100% - 20px) / 2);
}
@media (max-width: 768px) {
  .contact .container form input[name="your email"] {
    width: 100%;
  }
}
form textarea {
  min-height: 150px;
  max-height: 800px;
  resize: vertical;
}
form [type="submit"] {
  background-color: var(--color-primary);
  color: white;
  padding: 15px 45px;
  border-radius: 35px;
  margin-top: 25px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 45px;
  transition: var(--animation-duration);
}
form [type="submit"]:hover {
  background-color: var(--main-alt-primary);
}
.contact form :is(input, textarea) {
  padding: 15px 20px;
  border: 1px solid
    hsl(
      var(--light-hue),
      calc(var(--light-saturation) + 10%),
      calc(var(--light-lightness) - 10%)
    );
  transition: border-color var(--animation-duration);
}
.contact form :is(input, textarea):focus {
  outline: none;
  border-color: var(--color-primary);
}
/*end contact*/
.footer {
  background-image: url(../photos/back.jpg);
  color: #fff;
}
.footer .container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    padding: 10px 15px;
  }
}
.footer .container :is(.mealify, .contact) {
  width: calc(calc(100% - 20px * 2) / 4);
}
.footer .container :is(.subscribe) {
  width: calc(calc(100% - 20px * 2) / 2);
}
@media (max-width: 1200px) {
  .footer .container :is(.mealify, .contact) {
    width: calc(calc(100% - 20px) / 2);
    order: 1;
  }
}
@media (max-width: 1200px) {
  .footer .container :is(.subscribe) {
    width: 100%;
    order: 2;
  }
}
@media (max-width: 768px) {
  .footer .container :is(.mealify, .contact, .subscribe) {
    width: 100%;
    order: 0;
  }
}
.footer .mealify .describe {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.footer .mealify .describe img {
  width: 40px;
  height: 40px;
  margin: 0;
}
.footer .mealify .describe h2 {
  font-size: 30px;
  margin: 0;
}
.footer .mealify .describe h2::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: hsl(0, 84%, 44%);
  border-radius: 50%;
  bottom: 10px;
  left: 150px;
}
.footer .mealify p {
  color: white;
  margin: 10px 0px;
}
.footer .mealify h3 {
  text-align: center;
  color: white;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.footer .mealify .social {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.footer .mealify ul li {
  list-style: none;
}
.footer .mealify ul li i {
  font-size: 25px;
  color: white;
}
.footer .container .subscribe .box h3 {
  margin: 0;

  font-size: 22px;
}
.footer .container .subscribe .box p {
  margin: 10px 0;
  color: white;
}
.footer .container .subscribe .box .info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
@media (max-width: 576px) {
  .footer .container .subscribe .box .info {
    flex-direction: column;
    gap: 10px;
  }
}
.footer .container .subscribe .box .info [type="email"] {
  flex-grow: 1;
  padding: 8px 10px;
}
.footer .container .subscribe .box .info [type="email"]:focus {
  outline: none;
}
.footer .container .subscribe .box .info .submit {
  width: 110px;
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: var(--animation-duration);
}
@media (max-width: 576px) {
  .footer .container .subscribe .box .info .submit {
    width: 100%;
    padding: 8px 10px;
  }
}
.footer .container .subscribe .box .info .submit:hover {
  background-color: var(--main-alt-primary);
}
.footer .container .subscribe .box .info .submit i {
  margin-right: 5px;
  font-size: 15px;
}
.footer .container .subscribe .links h3 {
  margin: 12px 0 0;
}
.footer .container .subscribe .links ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  column-gap: 20px;
}
.footer .container .subscribe .links ul li {
  width: calc(calc(50% - 20px));
  padding: 5px;
  position: relative;
  transition: 0.5s;
}
.footer .container .subscribe .links ul i {
  margin-right: 5px;
  font-size: 12px;
}
.footer .container .subscribe .links ul li:hover {
  background-color: #5f5e5e;
  transform: translatex(10px);
}
.footer .contact h3 {
  margin: 0 0 10px;
}
.footer .contact ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 8px;
}
.footer .contact ul li i {
  font-size: 20px;
  margin-right: 10px;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .footer .container:is(.mealify, .contact) {
    width: calc(calc(100% - 20px) / 2);
  }
}
/*start animation*/
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(1ppx, 1px);
  }
  40% {
    transform: translate(5px, 5px);
  }
  60% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*end animation*/
