:root:has(.mode:checked) {
  --primary-hue: 35;
  --primary-lightness: 44%;
  --primary-saturation: 72%;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 9%;
  --color-default: #fff;
  --color-secondary: #fff;
  --color-tertiary: #9f9f9f;
  --color-light-grey: #252525;
  --color-primary-alt: hsl(35 72% 51% / 1);
}
:root:has(.mode:checked) body {
  background-color: #202020;
}
:root:has(.close:checked) .header .container .main-nav {
  opacity: 1;
}
:root:has(.check:checked) .header .container ul li i {
  color: saddlebrown;
}
:root:has(.mode:checked) .header {
  background-color: hsl(0, 0%, 9%);
  color: white;
}
:root:has(.mode:checked) a {
  color: white;
}
:root:has(.mode:checked) ul li a {
  color: #9f9f9f;
}
:root:has([name="first"]:checked) .header .container .main-nav {
  background-color: white;
}
:root:has(.mode:checked) .header .container .main-nav li:hover {
  opacity: 0;
}
:root:has(.mode:checked) .header .container .main-nav > a i:hover {
  opacity: 0;
}
body:has(.mode:checked) .header ul li a:hover {
  color: #fff;
}
body:has(.mode:checked) .header .container ul li a.active::before,
body:has(.mode:checked) .header .container ul li a:hover:before {
  background-color: hsl(35, 72%, 44%);
}
body:has(.mode:checked) .header .container ul li a.active {
  color: #9f9f9f;
}
body:has(.mode:checked) .header .container .logo a::after {
  background-color: hsl(35, 72%, 44%);
}

body:has(.mode:checked) .section {
  background-color: #252525;
}

body:has(.mode:checked) .section .container .content h2 {
  color: #fff;
}
body:has(.mode:checked) .section .container .content p {
  color: #9f9f9f;
}
body:has(.mode:checked) .section .container .content .buttons .contact {
  background-color: hsl(35, 72%, 44%);
}
body:has(.mode:checked) .section .container .content .buttons .contact:hover {
  background-color: var(--color-primary-alt);
}
body:has(.mode:checked) .section .container .content .buttons .video:hover {
  color: var(--color-primary-alt);
}
body:has(.mode:checked) .section .container .content .buttons .icon {
  background-image: linear-gradient(
    to right,
    hsl(35, 72%, 44%) 0 50%,
    transparent 50%
  );
}
body:has(.mode:checked) .chefs .chefs-card .card .image::before {
  background-image: url(../photos/team-shape-dark.svg);
}
body:has(.mode:checked) .chefs .chefs-card .card .card-content h3 {
  color: white;
}
body:has(.mode:checked) span {
  color: hsl(35, 72%, 44%);
}
body:has(.mode:checked) .contact .container .info .sec .content h3 {
  color: #adadad;
}
body:has(.mode:checked) .contact .container .info .sec .content p {
  color: white;
}
body:has(.mode:checked) form [type="submit"]:hover {
  background-color: var(--color-primary-alt);
}
body:has(.mode:checked) form [type="submit"] {
  color: black;
}
body:has(.mode:checked) .footer .container .subscribe .box .info .submit:hover {
  background-color: var(--color-primary-alt);
}
body:has(.mode:checked) .footer .container .subscribe .box .info .submit {
  color: black;
}
body:has(.mode:checked) .footer .container .subscribe .box .info .submit i {
  color: black;
}
